#!/bin/bash
# VMs to back up! enter names from virsh list seperated by spaces
VMS=""
# scratch space for vm snaps (should be local disk)
SCRATCHDIR="/scratch"
# final destination for backups
BACKUPDIR="/backup"
# NFS server
NFSSERVER=server:/export
